*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #d80202, #c07307be, #0c5e927c,#17aaef);
}

.container{
    max-width: 650px;
    background: transparent;
    border-radius: 57px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    padding: 114px;
    transition: all 0.5s;
}
.container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.temperature-icon{
    font-size: 45px;
    color: #6d0505;
    transition: all 0.5s;
}
.temperature-icon:hover{
    transform: scale(1.5);
}

h1{
    color: rgb(0, 0, 0);
    letter-spacing: 1.2px;
    font-size: 30px;
    font-weight: 700;
   
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    transition: all 0.5s;
}
#celsius:hover{
    transform: scale(1.1);
}
#fahrenheit:hover{
    transform: scale(1.1);
}
#kelvin:hover{
    transform: scale(1.1);
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: #fff;
    border-radius: 0 8px 8px 0;
}

.clear{
    margin-top: 25px;
    text-align: center;
}

.clear button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    transition: all 0.5s;
    border-radius: 15px;
   
}

.clear button:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    box-shadow:  3px 3px 2px rgba(0, 0, 0, 0.4) ;
    background: transparent;
   color: #fff;
}
